{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>   

    </script>
    
    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Edit Election</h1>
    </div>
    <form method="post" action="">
    {% csrf_token %}
        <h3>Election Details</h3>
        <fieldset>
            <div class="clearfix">
                <label>Name:</label>
                <div class="input">
                    {{ form.name }}
                </div>
            </div>
            <div class="clearfix">
                <label>Description:</label>
                <div class="input">
                    {{ form.description }}
                </div>
            </div>
            <div class="clearfix">
                <label>Voting Begins:</label>
                <div class="input">
                    {{ form.beginvoting }}
                </div>
            </div>
            <div class="clearfix">
                <label>Voting Ends:</label>
                <div class="input">
                    {{ form.endvoting }}
                </div>
            </div>
            <div class="clearfix">
                <label>Maximum Choices:</label>
                <div class="input">
                    {{ form.maxchoices }}
                </div>
            </div>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        <h3>Candidates</h3>
        <fieldset>
            {% for candidateform in candidateforms %}
                {% include 'elections/candidate.html' %}
            {% endfor %}
        </fieldset>
        <div class='form-stacked'>
            <div class="actions">
                <input type='submit' value='submit'/>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
