{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>   

    </script>
    
    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Vote</h1>
    </div>
    <h3>{{ election.name }}</h3>
    <p>{{ election.description }}</p>
    <form class='form-stacked' method="post" action="">
    {% csrf_token %}
        <fieldset>
            <h5>You may vote for up to {{ election.maxchoices }} candidates.</h5>
            {% for candidate in candidates %}
                <div class="clearfix">
                    {% for voteform in voteforms %}
                        {% if voteform.candidate.value == candidate.pk %}
                            <label>{{ voteform.selected }} {{ candidate.name }}</label>
                            {% for field in voteform.hidden_fields %}{{ field }}{% endfor %}
                        {% endif %}
                    {% endfor %}
                    <div class="input">
                        {{ candidate.biography }}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <input type='hidden' id='votecount' name='votecount' value='{{ votecount }}'/>
        <div class="actions">
            <input type='submit' value='submit'/>
        </div>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
