{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>   

    </script>
    
    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Vote</h1>
    </div>
    <h3>{{ election.name }}</h3>
    <p>{{ election.description }}</p>
    <form class='form-stacked' method="post" action="">
    {% csrf_token %}
        <fieldset>
            {% if customerror %}
                <div class="alert-message error">
                    <p>{{ customerror }}</p>
                </div>
            {% else %}
                <h5>You may vote for up to {{ election.maxchoices }} candidates.</h5>
            {% endif %}
            {% for voteform in voteforms %}
                <div class="clearfix">
                    <label>{{ voteform.selected }} {{ voteform.candidatename }}</label>
                    <div class="input">
                        {% autoescape off %}
                            {{ voteform.candidatebio }}
                        {% endautoescape %}
                    </div>
                    {% for field in voteform.hidden_fields %}{{ field }}{% endfor %}
                </div>
            {% endfor %}
        </fieldset>
        <input type='hidden' id='votecount' name='votecount' value='{{ votecount }}'/>
        <div class="actions">
            <input type='submit' value='submit'/>
        </div>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
