{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>   
        function addindividual(){
            var prefix = parseInt($('#id_individualcount').val()) + 1;
            $.get('/owners/addindividual/', {'prefix':prefix}, function(data){
                $('#individuals').append(data);
                $('#id_individualcount').val(prefix);
            });
        }
        function deleteitem(prefix){
            $('#id_' + prefix + '-delete').val('1');
            $('.' + prefix).hide();
            if($('#id_officialcontactprefix' + prefix).attr('checked')=='checked'){
                $('input:radio[name=officialcontactprefix]:visible:first').attr('checked', true);
            }
        }
    </script>
    
    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}
        <div class="page-header">
            <h1>Owner Details</h1>
        </div>
        <fieldset>
            <div class="clearfix">
                <label>Owner Number:</label>
                <div class="input">
                    {{ form.username }}
                </div>
            </div>
            {% if user.username == form.username %}
            <div class="clearfix">
                <label>Change Password:</label>
                <div class="input">
                    <div class='inputs-list'>
                        <a href='/owners/changepassword'>click here</a> to change your password<br/>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="clearfix">
                <label>
                    Address 1:
                </label>
                <div class="input">
                    {{ form.address1 }}
                </div>
            </div>
            <div class="clearfix">
                <label>
                    Address 2:
                </label>
                <div class="input">
                    {{ form.address2 }}
                </div>
            </div>
            <div class="clearfix">
                <label>
                    City:
                </label>
                <div class="input">
                    {{ form.city }}
                </div>
            </div>
            <div class="clearfix">
                <label>
                    State:
                </label>
                <div class="input">
                    {{ form.state }}
                </div>
            </div>
            <div class="clearfix">
                <label>
                    Zip Code:
                </label>
                <div class="input">
                    {{ form.zipcode }}
                </div>
            </div>
            <div class="clearfix">
                <label>
                    Ownership Type:
                </label>
                <div class="input">
                    {{ form.ownertype }}
                </div>
            </div>
            <div class="clearfix">
                <label>Paperless:</label>
                <div class="input">
                    <ul class="inputs-list">
                        <li>
                          <label>
                            {{ form.paperless }}
                            <span>Check this box to receive official communication via email instead of snail mail.  This saves the co-op money on postage and printing!</span>
                          </label>
                        </li>
                    </ul>
                </div>
            </div>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        <div class="page-header">
            <h1>Individuals <input type='button' value='+' onClick='addindividual()' {% if form.maxindividuals and user.owner %}disabled{% endif %}/></h1>
        </div>
        <fieldset>
            {% if form.customerror %}
                <div class="alert-message error">
                    <p>{{ form.customerror }}</p>
                </div>
            {% endif %}
            <table id='individuals'>
                <thead>
                    <tr>
                        <th>Official<br/>Contact</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                </thead>
                {% for individualform in individualforms %}
                    {% include 'owners/individual.html' %}
                {% endfor %}
            </table>
        </fieldset>
        <div class='form-stacked'>
            <div class="actions">
                <input type='submit' value='submit'/>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
