{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>   
        function addindividual(){
            var prefix = parseInt($('#id_individualcount').val()) + 1;
            $.get('/owners/addindividual/', {'prefix':prefix}, function(data){
                $('#individuals').append(data);
                $('#id_individualcount').val(prefix);
            });
        }
        function deleteitem(prefix){
            $('#id_' + prefix + '-delete').val('1');
            $('.' + prefix).hide();
            if($('#id_officialcontactprefix' + prefix).attr('checked')=='checked'){
                $('input:radio[name=officialcontactprefix]:visible:first').attr('checked', true);
            }
        }
    </script>
    
    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Owner Information</legend>
            Owner Number: {{ form.username }}<br/>
            Change Password: <a href='/owners/changepassword'>click here</a><br/>
            Ownership Type: {{ form.ownertype }}<br/>
            Paperless: {{ form.paperless }} Check this box to receive official communication via email instead of snail mail.  This saves the co-op money on postage and printing!
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        
        <fieldset>
            <legend>
                Individuals <input type='button' value='+' onClick='addindividual()' {% if form.maxindividuals %}disabled{% endif %}/>
            </legend>
            {{ form.customerror }}
            <table id='individuals'>
                <tr>
                    <th>Official<br/>Contact</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
                {% for individualform in individualforms %}
                    {% include 'owners/individual.html' %}
                {% endfor %}
            </table>
        </fieldset>
        
        <input type='submit' value='submit'/>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
