<!DOCTYPE html>

<html>
    <head>

        <meta http-equiv="Content-Script-Type" content="application/javascript">

        <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">

        {% block extrahead %}{% endblock %}

    </head>
    <body>
        <div class="container-fluid">
            <div class='sidebar'>
                <h3>Menu</h3>
                <ul>
                    <li><a href='/owners/'>Home</a></li>
                    <li><a href='/owners/logout'>Logout</a></li>
                </ul>
                {% if user.is_staff and not user.owner %}
                    <h5>Owners</h5>
                    <ul>
                        <li><a href='/owners/search/'>Search for an owner</a></li>
                        <li><a href='/owners/add/'>Add a New Owner</a></li>
                    </ul>
                    
                    <h5>Elections</h5>
                    <ul>
                        <li><a href='/elections/list/'>List Elections</a></li>
                        <li><a href='/elections/add/'>Add a New Election</a></li>
                    </ul>
                {% endif %}
                {% block sidebar %}{% endblock %}
            </div>
            <div class='content'>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
